---
title: Archive
nav_order: 0
nav_hide: true
---
{% include header.html %}
	<div class="row">
		<div class="span12">
			<h2>All Blog Posts</h2>
			  {% for post in site.posts %}
			<div class="media">
			  <div class="media-left">
			  </div>
			  <div class="media-body">
			    <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
			    <div class="post-meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</div>
			  </div>
			</div>
			  {% endfor %}
		</div>
	</div>
{% include footer.html %}
