
<div class="documentation-nav">
	<h5>Documentation</h5>
	<ul class="submenu">
		<li id="n-mainpage"><a href="/documentation.html">Overview</a></li>	
		<li><a href="/documentation/installation.html">Installation</a></li>
		<li><a href="/documentation/setup.html">Initial Set-up</a></li>
		<li><a href="/documentation/accounts.html">Accounts</a></li>
		<li><a href="/documentation/folders.html">Folders</a></li>
		<li><a href="/documentation/reading.html">Reading E-mail</a></li>
		<li><a href="/documentation/sending.html">Sending E-mail</a></li>
		<li><a href="/documentation/encryption.html">Encryption</a></li>
		<li><a href="/documentation/settings.html">Settings</a></li>
		<li><a href="/documentation/storage.html">Storage</a></li>
		<li><a href="/documentation/debugging.html">Debugging</a></li>
	</ul>
</div>
