    	<!--
	<hr class="">
    	<footer>
    		<p class="">
    			Created by the K-9 Dog Walkers.
    		</p>
    	</footer>
	-->
    </div>
    <!-- /container -->

    <style>
      .hero-unit {
          text-align: center;
          padding: 20px;
      }
      
      h2,h3,h4 {
          margin-top: 1em;
      }

      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="{{site.url}}/assets/js/bootstrap.js">
    </script>
    <script>

    </script>
  </body>
</html>
