<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% capture page_title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
    {% capture meta_description %}{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    {% capture meta_image %}{% if page.image %}{{ page.image }}{% else %}{{ "/assets/img/header.png" }}{% endif %}{% endcapture %}
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description | strip_html | strip_newlines | truncate: 160 }}">
    {% feed_meta %}
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ meta_description | strip_html | strip_newlines | truncate: 160 }}">
    <meta name="twitter:image" content="{{ meta_image | prepend: site.url }}">
    <meta name="twitter:image:alt" content="{{ page_title }}">

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:type" content="{% if page.layout == "post" %}article{% else %}website{% endif %}">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="{{ meta_image | prepend: site.url }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="{{ page_title }}">

    <meta property="og:description" content="{{ meta_description | strip_html | strip_newlines | truncate: 160 }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.layout == "post" %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% endif %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}" type="image/x-icon"/>
    <link rel="preload" href="{{ "/assets/fonts/inter/Inter-Regular.woff2" | prepend: site.url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ "/assets/fonts/inter/Inter-Bold.woff2" | prepend: site.url }}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/css/inter.css" | prepend: site.url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.url }}" />
    <!-- JavaScript -->
    <script src="{{ "/assets/js/jquery-3.4.1.slim.min.js" | prepend: site.url }}" defer></script>
    <script src="{{ "/assets/js/bootstrap.bundle.min.js" | prepend: site.url }}" defer></script>
    <script src="{{ "/assets/js/site.js" | prepend: site.url }}" defer></script>
</head>
