<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% feed_meta %}
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> {% if page.image %}
    <meta property="twitter:image:src" content="{{ page.image | prepend: site.url }}"> {% else %}
    <meta property="twitter:image:src" content="{{ "/assets/img/preview.png" | prepend: site.url }}"> {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"> {% if page.image %}
    <meta property="og:image" content="{{ page.image | prepend: site.url }}"> {% else %}
    <meta property="og:image" content="{{ "/assets/img/preview.png" | prepend: site.url }}"> {% endif %}

    <meta property="og:image:type" content="image/png">
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/css/inter.css" | prepend: site.url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.url }}" />
    <!-- JavaScript -->
    <script src="{{ "/assets/js/jquery-3.4.1.slim.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/bootstrap.bundle.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/swiper.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/search.min.js" | prepend: site.url }}"></script>
</head>
