.documentation-nav, .settings-nav, .accounts-nav, .encryption-nav {
  clear: right;
  float: right;
  width: 130px;
  margin: 0 14px;
}
.submenu {
    margin-left: 0;
    margin-top: -2px;
    font-size: 10px;
    list-style: none;
}
.submenu li {
    border-bottom: 1px solid #dedede;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 0;
}
table th, table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
table th {
    font-weight: bold;
}
table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    margin-top: 0;
    margin-bottom: 16px;
    border-collapse: collapse;
    border-spacing: 0;
}
